<mat-card class="small-spacer" *ngIf="project$ | async as project">
    <h2 class="no-margin">Current Members</h2>
    <ul>
        <li *ngFor="let member of members$ | async">{{member.displayName}}</li>
    </ul>
    <mat-form-field class="input-size">
        <mat-label>Member Name</mat-label>
        <input matInput [(ngModel)]="invitee">
    </mat-form-field>
    <button *ngIf="allMembers$ | async as all" class="small-spacer" mat-raised-button [disabled]="!invitee || invitee.length == 0" color="accent" (click)="invite(project, all)">
        Add User
    </button>
</mat-card>