<div class="task-board" *ngIf="project$ | async as project">
    <div class="task-list-box">
        <h2 class="no-margin task-list-header">Planned</h2>
        <div cdkDropList #PlannedList="cdkDropList" [cdkDropListData]="tasks.get('Planned')" class="task-list"
            [cdkDropListConnectedTo]="[InProgressList, DoneList]"
            (cdkDropListDropped)="drop($event, project, 'Planned')">
            <mat-card class="task-box" *ngFor="let item of tasks.get('Planned')" [cdkDragData]="item" cdkDrag>
                <mat-card-title class="task-title">{{item.name}}</mat-card-title>
                <mat-card-subtitle class="task-subtitle">
                    Story Points: {{item.story_points}}
                </mat-card-subtitle>
            </mat-card>
        </div>
    </div>

    <div class="task-list-box">
        <h2 class="no-margin task-list-header">In Progress</h2>
        <div cdkDropList #InProgressList="cdkDropList" [cdkDropListData]="tasks.get('InProgress')" class="task-list"
            [cdkDropListConnectedTo]="[PlannedList, DoneList]"
            (cdkDropListDropped)="drop($event, project, 'InProgress')">
            <mat-card class="task-box" *ngFor="let item of tasks.get('InProgress')" [cdkDragData]="item" cdkDrag>
                <mat-card-title class="task-title">{{item.name}}</mat-card-title>
                <mat-card-subtitle class="task-subtitle">
                    Story Points: {{item.story_points}}
                </mat-card-subtitle>
            </mat-card>
        </div>
    </div>

    <div class="task-list-box">
        <h2 class="no-margin task-list-header">Done</h2>
        <div cdkDropList #DoneList="cdkDropList" [cdkDropListData]="tasks.get('Done')" class="task-list"
            [cdkDropListConnectedTo]="[PlannedList, InProgressList]"
            (cdkDropListDropped)="drop($event, project, 'Done')">
            <mat-card class="task-box" *ngFor="let item of tasks.get('Done')" [cdkDragData]="item" cdkDrag>
                <mat-card-title class="task-title">{{item.name}}</mat-card-title>
                <mat-card-subtitle class="task-subtitle">
                    Story Points: {{item.story_points}}
                </mat-card-subtitle>
            </mat-card>
        </div>
    </div>
</div>