<mat-drawer-container class="drawer-container" autosize>
    <mat-drawer #drawer class="drawer-sidenav" mode="side">
        <span *ngIf="project$ | async as project">
            <h3>Project</h3>
            <button mat-button [routerLink]="'/projects/' + project.id + '/tasks'">Project Backlog</button><br>
            <button mat-button [routerLink]="'/projects/' + project.id + '/members'">Project Members</button><br>
            <button mat-button [routerLink]="'/projects/' + project.id + '/settings'">Project Settings</button><br>
            <h3>Sprints</h3>
            <button mat-button [routerLink]="'/projects/' + project.id + '/sprints'">All Sprints</button><br>
            <span *ngFor="let sprint of sprints$ | async">
                <button mat-button>{{sprint.active ? '> ' : '  '}}{{sprint.name}}</button><br>
            </span>
        </span>
    </mat-drawer>

    <div class="sidenav-content">
        <mat-toolbar class="project-bar">
            <button mat-flat-button (click)="drawer.toggle()">
                <mat-icon fontSet="fa" fontIcon="fa-bars"></mat-icon>
            </button>
            <h3 class="project-bar-header">{{ headerTitle }}</h3>
        </mat-toolbar>
        <ng-content></ng-content>
    </div>
</mat-drawer-container>