<div *ngIf="project$ | async as project" class="dialog-container">
    <h1 mat-dialog-title class="no-margin">{{ project.name }}</h1>
    <h3>{{ project.description }}</h3>

    <span *ngIf="(members$ | async).length > 0">
        <h3 class="no-margin">Members</h3>
        <ul class="no-margin">
            <li *ngFor="let member of members$ | async">{{ member.displayName }}</li>
        </ul>
    </span>
</div>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button *ngIf="project$ | async as project" (click)="open(project)" cdkFocusInitial>Open</button>
</mat-dialog-actions>