<div class="dialog-container">
    <h2 mat-dialog-title>Create Task</h2>

    <form class="login-form" [formGroup]="createForm" class="dialog-field">
        <mat-form-field appearance="fill" class="dialog-field">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" (keydown.enter)="submitEnter($event)">
            <mat-error>
                {{ getNameErrorMessage() }}
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" class="dialog-field">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description" (keydown.enter)="submitEnter($event)"
                class="dialog-field"></textarea>
            <mat-error>
                {{ getDescriptionErrorMessage() }}
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" class="dialog-field">
            <mat-label>Story Points</mat-label>
            <mat-select formControlName="story_points" (keydown.enter)="submitEnter($event)" class="dialog-field">
                <mat-option value="1">1</mat-option>
                <mat-option value="2">2</mat-option>
                <mat-option value="4">4</mat-option>
                <mat-option value="8">8</mat-option>
                <mat-option value="16">16</mat-option>
                <mat-option value="32">32</mat-option>
                <mat-option value="64">64</mat-option>
            </mat-select>
            <mat-error>
                {{ getStoryPointsErrorMessage() }}
            </mat-error>
        </mat-form-field>
    </form>

    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <span *ngIf="user$ | async as user">
            <button mat-button [disabled]="!createForm.valid" *ngIf="project$ | async as project"
                (click)="create(user, project)" cdkFocusInitial>Create</button>
        </span>
    </mat-dialog-actions>
</div>