<mat-toolbar color="primary">
    <button mat-flat-button color="primary" [routerLink]="'/'">
        <mat-icon fontSet="fa" fontIcon="fa-seedling"></mat-icon>
        Scrummy
    </button>

    <button mat-flat-button color="primary" [routerLink]="'/projects'">
        Projects
    </button>

    <span class="fill-remaining-space"></span>

    <div *ngIf="auth.getUser() | async; then logoutBlock else loginBlock"></div>
    <ng-template #logoutBlock>
        <button mat-flat-button color="primary" (click)="logout()">
            Logout
        </button>
    </ng-template>
    <ng-template #loginBlock>
        <button mat-flat-button color="primary" [routerLink]="'/login'">
            Login
        </button>
        <button mat-flat-button color="primary" [routerLink]="'/register'">
            Register
        </button>
    </ng-template>
</mat-toolbar>