<div class="dialog-container">
    <h2 mat-dialog-title>Create Task</h2>

    <form class="login-form" [formGroup]="createForm" class="dialog-field">
        <mat-form-field appearance="fill" class="dialog-field">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" (keydown.enter)="submitEnter($event)">
            <mat-error>
                {{ getNameErrorMessage() }}
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" class="dialog-field">
            <mat-label>Start Date</mat-label>
            <input matInput [matDatepicker]="startDate" formControlName="startDate" [max]="createForm.controls.endDate.value">
            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
            <mat-datepicker #startDate></mat-datepicker>
            <mat-error>
                {{ getStartDateErrorMessage() }}
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" class="dialog-field">
            <mat-label>End Date</mat-label>
            <input matInput [matDatepicker]="endDate" formControlName="endDate" [min]="createForm.controls.startDate.value">
            <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
            <mat-datepicker #endDate></mat-datepicker>
            <mat-error>
                {{ getEndDateErrorMessage() }}
            </mat-error>
        </mat-form-field>
    </form>

    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <span *ngIf="user$ | async as user">
            <button mat-button [disabled]="!createForm.valid" *ngIf="project$ | async as project"
                (click)="create(user, project)" cdkFocusInitial>Create</button>
        </span>
    </mat-dialog-actions>
</div>