.project-table {
    width: 100%;
}

.project-table-container {
    margin: 10px 5px 10px 5px;
}

.mat-column-controls {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 130px !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.button-spacer {
    margin-right: 3px;
}