<div class="mat-elevation-z8 project-table-container small-spacer">
    <table mat-table [dataSource]="dataSource" matSort class="project-table">

        <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Index</th>
            <td mat-cell *matCellDef="let element; let i = index;"> {{i + 1}} </td>
        </ng-container>

        <span *ngFor="let set of displayedColumns">
            <ng-container *ngIf="set.name" matColumnDef="{{set.id}}">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{set.name}}</th>
                <td mat-cell *matCellDef="let row"> {{row[set.id]}} </td>
            </ng-container>
        </span>

        <ng-container matColumnDef="controls">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
            <span *ngIf="project$ | async as project">
                <td mat-cell class="controls-content" *matCellDef="let row">
                    <button mat-mini-fab color="primary" class="button-spacer" matTooltip="Details" (click)="details(row)">
                        <mat-icon class="button-icon" fontSet="fa" fontIcon="fa-id-card"></mat-icon>
                    </button>
                    <span *ngIf="active_sprint$ | async as active_sprint">
                        <button mat-mini-fab color="primary" class="button-spacer"
                            matTooltip="Add to sprint '{{active_sprint.name}}'" [disabled]="row.sprint"
                            (click)="plan(project, active_sprint, row)">
                            <mat-icon class="button-icon" fontSet="fa" fontIcon="fa-calendar-day"></mat-icon>
                        </button>
                    </span>
                    <button mat-mini-fab color="primary" class="button-spacer" matTooltip="Archive"
                        (click)="archive(project, row)">
                        <mat-icon class="button-icon" fontSet="fa" fontIcon="fa-archive"></mat-icon>
                    </button>
                </td>
            </span>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="getColumnNames()"></tr>
        <tr mat-row *matRowDef="let row; columns: getColumnNames();">
        </tr>
    </table>

    <mat-paginator [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>