.project-table {
    width: 100%;
}

.project-table-container {
    margin: 10px 5px 10px 5px;
}

.mat-column-controls {
    flex: 0 0 10% !important;
    width: 130px !important;
}

.mat-column-index {
    width: 40px !important;
  }

.button-spacer {
    margin-right: 3px;
}