/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/purple-green.css";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~ngx-toastr/toastr";

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
    margin: 8px 8px !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}

.small-spacer {
    margin: 3px 6px 0px 6px !important;
}

.button-icon {
    font-size: 23px;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}